async-timeout==4.0.3
bleak==0.22.3
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
dbus-fast==2.28.0
idna==3.10
meshtastic==2.5.10
packaging==24.2
paho-mqtt==2.1.0
protobuf==5.29.3
pycparser==2.22
Pypubsub==4.0.3
pyserial==3.5
PyYAML==6.0.2
requests==2.32.3
tabulate==0.9.0
tk==0.1.0
typing_extensions==4.12.2
urllib3==2.3.0
